################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Reading Books/Reading Books/bin/Debug/netcoreapp3.1/Reading Books.pdb
/Reading Books/Reading Books/bin/Debug/netcoreapp3.1/Reading Books.runtimeconfig.dev.json
/Reading Books/Reading Books/bin/Debug/netcoreapp3.1/Reading Books.runtimeconfig.json
/Reading Books/Reading Books/bin/Debug/netcoreapp3.1/Reading Books.exe
/Reading Books/Reading Books/bin/Debug/netcoreapp3.1/Reading Books.deps.json
/Reading Books/Reading Books/obj/Debug/netcoreapp3.1/Reading Books.csproj.CoreCompileInputs.cache
/Reading Books/Reading Books/obj/Debug/netcoreapp3.1/Reading Books.csproj.FileListAbsolute.txt
/Reading Books/Reading Books/obj/Debug/netcoreapp3.1/Reading Books.exe
/Reading Books/Reading Books/obj/Debug/netcoreapp3.1/Reading Books.genruntimeconfig.cache
/Reading Books/Reading Books/obj/Debug/netcoreapp3.1/Reading Books.pdb
/Reading Books/Reading Books/obj/Debug/netcoreapp3.1/Reading Books.dll
/Reading Books/Reading Books/bin/Debug/netcoreapp3.1/Reading Books.dll
