################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Reading Books/Reading Books/bin/Debug/netcoreapp3.1/Reading Books.pdb
